In [ ]:
# Import required packages.
import pandas as pd

In [ ]:
# Load data set.
df = pd.read_csv('medication_demand_data.csv')

In [ ]:
# Inital view of data.
print(df.head())
print('-' * 50)
# Check data types and non-null counts. Nulls exist! 7300 observations.
print(df.info())
print('-' * 50)
# Descriptive statistics for numerical variables.
print(df.describe())
print('-' * 50)
# Count number of nulls in each variable.
print(df.isnull().sum())
print('-' * 50)
# Checking if any other commonly interpreted null values.
print((df == '').sum())
print('-' * 50)
print((df == ' ').sum())
print('-' * 50)
print((df == 'NA').sum())
# Only nulls in this dataset.

         Date      Medication   Sales     Region  Temperature  Humidity  \
0  2023-01-01     Cold Relief  2084.0    Toronto    -3.500000      59.3
1  2023-01-01     Cold Relief  1372.0  Vancouver     6.600000      57.7
2  2023-01-01     Cold Relief  1611.0   Montreal   -26.165964      52.9
3  2023-01-01     Cold Relief  1671.0    Calgary   -13.900000      57.0
4  2023-01-01  Allergy Relief   351.0    Toronto    -4.400000      50.2

   Flu_Cases  Pollen_Count  Google_Trends  Marketing_Spend         Holiday
0      312.0           6.0           95.8          3230.23  New Year's Day
1      290.0           9.0           75.3          2696.15  New Year's Day
2      298.0           7.0           74.6          3033.28  New Year's Day
3      309.0           6.0           77.1          3246.76  New Year's Day
4      302.0           5.0           48.8           909.67  New Year's Day
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7300 entries, 0 to 7299
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             7300 non-null   object
 1   Medication       7300 non-null   object
 2   Sales            7300 non-null   float64
 3   Region           7300 non-null   object
 4   Temperature      6919 non-null   float64
 5   Humidity         6926 non-null   float64
 6   Flu_Cases        6952 non-null   float64
 7   Pollen_Count     6930 non-null   float64
 8   Google_Trends    6932 non-null   float64
 9   Marketing_Spend  6920 non-null   float64
 10  Holiday          200 non-null    object
dtypes: float64(7), object(4)
memory usage: 627.5+ KB
None
--------------------------------------------------
             Sales  Temperature     Humidity    Flu_Cases  Pollen_Count  \
count  7300.000000  6919.000000  6926.000000  6952.000000   6930.000000
mean    733.717345     9.500998    67.692249   141.125346     81.346900
std     444.636521    11.546069     7.783759   161.495505     68.041651
min     197.000000   -28.765964    44.100000    13.000000      2.000000
25%     438.000000     4.400000    62.100000    73.000000     36.000000
50%     620.000000    11.000000    67.600000   100.000000     81.000000
75%     818.000000    17.900000    73.100000   264.000000    128.000000
max    6941.586137    34.800000    93.000000  2894.701083    854.144097

       Google_Trends  Marketing_Spend
count    6932.000000      6920.000000
mean       63.679435      1386.224395
std        16.476742       943.487829
min        16.900000       500.000000
25%        50.900000       850.030000
50%        63.000000      1099.030000
75%        75.900000      1490.905000
max       100.000000     17099.341964
--------------------------------------------------
Date                  0
Medication            0
Sales                 0
Region                0
Temperature         381
Humidity            374
Flu_Cases           348
Pollen_Count        370
Google_Trends       368
Marketing_Spend     380
Holiday            7100
dtype: int64
--------------------------------------------------
Date               0
Medication         0
Sales              0
Region             0
Temperature        0
Humidity           0
Flu_Cases          0
Pollen_Count       0
Google_Trends      0
Marketing_Spend    0
Holiday            0
dtype: int64
--------------------------------------------------
Date               0
Medication         0
Sales              0
Region             0
Temperature        0
Humidity           0
Flu_Cases          0
Pollen_Count       0
Google_Trends      0
Marketing_Spend    0
Holiday            0
dtype: int64
--------------------------------------------------
Date               0
Medication         0
Sales              0
Region             0
Temperature        0
Humidity           0
Flu_Cases          0
Pollen_Count       0
Google_Trends      0
Marketing_Spend    0
Holiday            0
dtype: int64

In [ ]:
# Preprocessing steps. First convert dates to months.